body {
    background-color: red;
}

/*Selektor znacznika*/

p {
    color: gray;
}

#paragraf {
    color: hotpink;
}

a,span,div {
    color: deepskyblue;
}

li>a {background-color: yellow;}

h2 ~ h3 {
    color: lawngreen;
}

ul>li:not(.last) {
    color: violet;
}

ol > li:nth-child(2) {
    color: darkorange;
}